* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}



.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 0px;
    row-gap: 0px;

}



.wrapper {
    width: 1240px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

#logo img {
    max-height: 70px;
}

.header-wrapper {
    margin-top: 10px;
}

.over-hidden {
    overflow: hidden;
}

#masthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-inner {
    padding: 0px 15px;
}

.header-item {
    display: inline-block;
}

.header-item a, a:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    color: #002c5f;
    font-weight: bold;
    text-decoration: none;
}

.header-item a:hover {
    color: red;
}

/* #store-name {
    position: absolute;
    right: 0;
} */

/* #wide-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* #header-nav {
    display: flex;
    justify-content: space-between;
} */

#wide-nav {
    background-color: #e5091c;
    height: 45px;
}

#header-nav{
    color: red;
    display: flex;
    justify-content: space-around;
}

#header-nav .header-nav-item {
    /* margin: 0 auto; */
    font-family: 'Raleway';
    font-size: 14px;

}

#header-nav .header-nav-item a {
    color: white;
    line-height: 45px;
}

.header-search {
    min-width: 30%;
    max-width: 600px;
}

.slider {
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .swiper .swiper-wrapper  .swiper-slide img {
    width: 100%;
}

.slider .swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #fff;
}

.slider .swiper .swiper-pagination-bullet-active {
    background-color: #fff;
}

.branch-banner {
    padding: 50px 0;
}

.gap-element {
    padding-top: 20px;
}

.section-title-container {
    padding: 0 15px;
    margin-bottom: 25px;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Raleway';
    font-style: normal;
    line-height: 1.5;
}

.section-title b {
    flex-grow: 1;
    background-color: #002c5f;
    height: 2px;
    opacity: .1;
}

.section-title-main {
    color: #002c5f;
    word-spacing: 0.5vw;
    margin: 0 15px;
}

/* .branch-category {
    padding-bottom: 15px;
} */

.branch-category-item {
    width: 20%;
    padding: 0 15px;
    overflow: hidden;
}

.branch-category-item img{
    max-height: 178px;
    /* width: auto !important; */
    max-width: 100%;;
    height: auto;
    position: unset;
    transition: transform 0.5s ease;
}

img.hover-zoom-1-2:hover {
    transform: scale(1.2);
}

.product {
    padding: 50px 0;
}

.product-list {
    /* justify-content: space-between;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 0px;
    row-gap: 0px;

}

.product-item {
    margin: 0 15px 25px 15px;
    /* width: 22%; */
    box-shadow: rgba(100, 100, 100, 0.1) 0px 8px 24px, rgba(100, 100, 100, 0.1) 0px 16px 56px, rgba(100, 100, 100, 0.1) 0px 24px 80px;
    /* over */
    /* flex-basis: 25%; */
    display: inline-block;
}


.product-item .item-image-inner {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
    padding: 15px;
}

.item-text {
    width:  100%;
}

.product-list .product-item .item-text  .item-version {
    padding: 8px 5px;
    background-color: #002c5f;
    font-size: 12px;
    font-style: normal;
    color: #fff;
    border-radius: 15px;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Raleway Semibold';
    padding-top: 8px;
    width: 120px;
}

.product-list .product-item .item-text .item-version-list {
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.product-list .product-item .item-text .item-version-list .item-option {
    margin: 0 4px;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 100%;
    padding: 2px;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.item-text {
    flex-direction: column;
    justify-content: space-between;
}

.item-option span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}

.item-name a {
    line-height: 1.3;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    color: #002c5f;
    font-family: 'Hyundai Sans Head Office';
    font-size: 1.15em;

}

.item-price {
    font-family: 'Hyundai Sans Head Office';
    font-weight: bold;
    margin-bottom: 5px;
}

.service-section {
    background-color: #ebebeb;
    padding-top: 60px;
    padding-bottom: 60px;
    /* height: 500px; */
}


/* service-section-title {
    padding: 0;
} */



.flex-inline-block {
    display: inline-block;
}

.no-padding {
    padding: 0;
}
.service-container {
    grid-template-columns: auto auto auto;
}

.service-item {
    /* width: ; */
    padding: 15px;
}

.service-image {
    display: inline-block;
    /* color: #515151; */

}

.service-image img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.service-content {
    display: inline-block;
    padding-left: 16px;
}

.service-title-container {
    margin-bottom: 10px;
}

.service-title {
    text-transform: uppercase;
    font-family: 'Raleway Bold';
}

.service-description-container {
    color: #515151;
}

.service-description {
    font-family: 'Raleway Semibold';
    font-size: 14px;
    word-spacing: 4px;
}

#footer, #footer a {
    min-height: 330px;

    background-color: rgb(1, 44, 95);
    color: #f1f1f1;
}

.brand-information {
    width: 50%;
    font-family: 'Raleway Semibold';
    font-size: 16px;
}

.brand-information .brand-logo-container img {
    width: 100%;
    margin: 15px 0;;
}

.brand-information .brand-title-container {
    margin-bottom: 3px;
    font-family: 'Raleway Bold';
    padding-bottom: 12px;
}

.contact-container .phone-container {
    margin-bottom: 10px;
}

.contact-container .email-container .email{
    margin-bottom: 3px;
}

.contact-container .email-container .website {
    margin-bottom: 10px;
}

.brand-store {
    margin-top: 15px;
    padding-left: 50px;
}

.system-store-container {
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.system-store-title {
    font-family: 'Raleway Bold';
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 2px white solid;
    margin-bottom: 15px;
}

.store {
    font-family: 'Raleway Semibold';
    font-size: 14px;
    padding-bottom: 12px;
    cursor: pointer;
}

/* Start: CSS for product site */

.banner-container img {
    max-width: 100%;
}

.product-image {
    width: 50%;
}

.product-image img {
    max-width: 100%;
}

.product-option {
    width: 50%;
}

.product-option .product-name {
    color: #002c5f;
    margin-top: 6.4px;
}

.product-option .product-name h1{
    font-family: 'Hyundai Sans Head Office';
    font-size: 32px;
    line-height: 100%;
}

.product-option .color-group {
    padding-top: 30px;

}

.product-option .color-group p {
    font-family: 'Raleway Bold';
    font-size: 18px;
    color: #515151;
}

.color-item-container {
    grid-template-columns: auto auto;
    /* justify-content: start; */
}

.color-item {
    transform: skewX(-30deg);
    border: 2px solid white;
}

.color-item-container .color-item .color-cell {
    height: 25px;
    width: 35px;
    border: 2px solid #ebebeb;
}

.color-container {
    margin-top: 20px;
}
.color-container .color-item  {
    margin: 0 10px;
}

.color-item-container .color-container p{
    line-height: 25px;
    font-family: 'Raleway Semibold';
    color: #515151;
    margin-left: 8px;
    font-size: 16px;
}

.color-item {
    cursor: pointer;
}

/* Start: css for price section */

.main-product-container .product-detail-price {
    padding: 12px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    border-left: 2px solid black;
}

.main-product-container .price-label {
    font-family: 'Raleway Semibold';
    font-size: 16px;
    color: #002c5f;
}

.main-product-container .price-value {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #cc0000;
    font-weight: bold;
    padding-left: 14px;
}

.add-to-cart-btn {
    height: 60px;
    width: 100%;
    text-align: center;
    font-family: 'Raleway Bold';
    text-transform: uppercase;
    font-size: 18px;
    background-color: #cc0000;
    line-height: 60px;
    color: white;
    border-radius: 12px 12px 12px 12px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 30px;
}

.add-to-cart-btn:hover {
    background-color: #ff0000;
}

/* End: css for price section */


/* Start: css for product information */

.product-info-container {
    padding-top: 80px;
    margin-bottom: 50px;
}

.product-feature {
    width: 60%;
    padding: 20px 20px 10px;
    background-color: #f1f1f1;
    border-top: 2px solid #002c5f;
    margin-right: 15px;
}

.product-spec {
    width: 40%;
}

.product-feature .feature-banner {
    height: 56px;
    background-color: #002c5f;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-left: 15px;
}

.product-feature .feature-banner p {
    line-height: 56px;
    color: white;
    font-family: 'Raleway Semibold';
}

.product-info-container .feature-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: start;
    padding-bottom: 25px;
}

/* .product-info-container .feature-image-container .image-container {
    padding: 0 15px;
} */

.product-info-container .feature-image-container .image-container img {
    max-width: 100%;
}

.product-info-container .feature-image-container .image-container p.feature-detail {
    font-family: 'Raleway Semibold';
    font-size: 14px;
}

.product-spec .product-spec-header {
    justify-content: space-between;
    align-items: center;
    margin-top: -17px;
    margin-bottom: 30px;
}

.product-spec .product-spec-header b {
    flex-grow: 1;
    height: 2px;
    background-color: #002c5f;
    opacity: .1;
}

.product-spec .product-spec-header h2 {
    margin: 0px 15px;
    color: #002c5f;
    font-family: 'Raleway Bold';
    font-size: 32px;
    text-transform: uppercase;
}

.product-spec .spec-table {
    padding: 20px;
    background-color: #f1f1f1;
}

.product-spec .spec-table table {
    width: 100%;
}

.product-spec .spec-table table, th, td {
    border: 1px solid;

}

.product-spec .spec-table table {
    color: #515151;
    border-collapse: collapse;
    line-height: 19px;
}

.product-spec .spec-table td {
    padding: 8px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

/* End: css for product information */

/* End: CSS for product site */